<h1>Welcome to Tech Talent Store!</h1>
<p>
  Give us your money!
</p>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
    <%= render partial: "storefront/product_tile", locals: {product: product} %>
  </div>
  <% end %>
</div>
